* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Inter', sans-serif;
    background: #F2F8F7;
    color: #152921;
    font-size: 20px;
    line-height: 1.35em;
}
#app {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
li {
    width: 50%;
    padding: 9px 18px;
    list-style: none;
}

@media screen and (min-width: 576px) {
    li {
        width: calc(100% / 3);
    }
}
@media screen and (min-width: 768px) {
    li {
        width: calc(100% / 4);
    }
}
@media screen and (min-width: 992px) {
    li {
        width: calc(100% / 5);
    }
}